## untracked files
scripts/automated_dirgible_plums/config.py
scripts/bet_manager/config.py
scripts/lottery/config.py
scripts/stock_parser/config.py

parser/force_format.txt
stock_parser/parsed_data.txt

stock_parser/.csv
stock_parser/.txt

automated_ditgible_plums/config.py
