## untracked files
stock_parser/config.py
lottery/config.py

parser/force_format.txt
stock_parser/parsed_data.txt

stock_parser/.csv
stock_parser/.txt

automated_dirgible_plums/config.py
automated_dirgible_plums/__pycache__